In [1]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import r2_score

In [2]:
read_data = pd.read_csv("ToyotaCorolla.csv")

In [3]:
read_data.describe()

,Id,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,CC,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
count,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.00000,...,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000,1436.000000
mean,721.555014,10730.824513,55.947075,5.548747,1999.625348,68533.259749,101.502089,0.674791,0.055710,1576.85585,...,0.561978,0.977716,0.146240,0.256964,0.300139,0.770195,0.204735,0.145543,0.002786,0.277855
std,416.476890,3626.964585,18.599988,3.354085,1.540722,37506.448872,14.981080,0.468616,0.229441,424.38677,...,0.496317,0.147657,0.353469,0.437111,0.458478,0.420854,0.403649,0.352770,0.052723,0.448098
min,1.000000,4350.000000,1.000000,1.000000,1998.000000,1.000000,69.000000,0.000000,0.000000,1300.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,361.750000,8450.000000,44.000000,3.000000,1998.000000,43000.000000,90.000000,0.000000,0.000000,1400.00000,...,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,721.500000,9900.000000,61.000000,5.000000,1999.000000,63389.500000,110.000000,1.000000,0.000000,1600.00000,...,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,1081.250000,11950.000000,70.000000,8.000000,2001.000000,87020.750000,110.000000,1.000000,0.000000,1600.00000,...,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,1442.000000,32500.000000,80.000000,12.000000,2004.000000,243000.000000,192.000000,1.000000,1.000000,16000.00000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
read_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 1436 non-null   int64
 1   Model              1436 non-null   object
 2   Price              1436 non-null   int64
 3   Age_08_04          1436 non-null   int64
 4   Mfg_Month          1436 non-null   int64
 5   Mfg_Year           1436 non-null   int64
 6   KM                 1436 non-null   int64
 7   Fuel_Type          1436 non-null   object
 8   HP                 1436 non-null   int64
 9   Met_Color          1436 non-null   int64
 10  Color              1436 non-null   object
 11  Automatic          1436 non-null   int64
 12  CC                 1436 non-null   int64
 13  Doors              1436 non-null   int64
 14  Cylinders          1436 non-null   int64
 15  Gears              1436 non-null   int64
 16  Quarterly_Tax      1436 non-null   int64
 17  Weight             1436 non-null   int64
 18  Mfr_Guarantee      1436 non-null   int64
 19  BOVAG_Guarantee    1436 non-null   int64
 20  Guarantee_Period   1436 non-null   int64
 21  ABS                1436 non-null   int64
 22  Airbag_1           1436 non-null   int64
 23  Airbag_2           1436 non-null   int64
 24  Airco              1436 non-null   int64
 25  Automatic_airco    1436 non-null   int64
 26  Boardcomputer      1436 non-null   int64
 27  CD_Player          1436 non-null   int64
 28  Central_Lock       1436 non-null   int64
 29  Powered_Windows    1436 non-null   int64
 30  Power_Steering     1436 non-null   int64
 31  Radio              1436 non-null   int64
 32  Mistlamps          1436 non-null   int64
 33  Sport_Model        1436 non-null   int64
 34  Backseat_Divider   1436 non-null   int64
 35  Metallic_Rim       1436 non-null   int64
 36  Radio_cassette     1436 non-null   int64
 37  Parking_Assistant  1436 non-null   int64
 38  Tow_Bar            1436 non-null   int64
dtypes: int64(36), object(3)
memory usage: 437.7+ KB

In [5]:
read_data.head()

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,0,0,0,1,0,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,1,0,0,0,1,0,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,0,1,0,1,0,0,0,0

In [7]:
read_data.drop("Id",axis=1,inplace=True)

In [8]:
read_data

,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,Color,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
0,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,Blue,...,1,1,0,0,0,1,0,0,0,0
1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,Silver,...,0,1,0,0,0,1,0,0,0,0
2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,Blue,...,0,1,0,0,0,1,0,0,0,0
3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,Black,...,0,1,0,0,0,1,0,0,0,0
4,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,Black,...,1,1,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors,7500,69,12,1998,20544,Petrol,86,1,Blue,...,1,1,0,1,1,1,0,0,0,0
1432,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,10845,72,9,1998,19000,Petrol,86,0,Grey,...,0,1,0,0,1,1,0,0,0,0
1433,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8500,71,10,1998,17016,Petrol,86,0,Blue,...,0,1,0,0,0,1,0,0,0,0
1434,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,7250,70,11,1998,16916,Petrol,86,1,Grey,...,0,0,0,0,0,1,0,0,0,0
1435,TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors,6950,76,5,1998,1,Petrol,110,0,Green,...,0,1,0,0,0,0,0,0,0,0

In [9]:
ohe = OneHotEncoder()

In [25]:
model= read_data["Model"]
model_encode = ohe.fit_transform(read_data[["Model"]]).toarray()

In [26]:
read_data["Model"] = model_encode

In [27]:
read_data

,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,Color,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
0,0.0,13500,23,10,2002,46986,Diesel,90,1,Blue,...,1,1,0,0,0,1,0,0,0,0
1,0.0,13750,23,10,2002,72937,Diesel,90,1,Silver,...,0,1,0,0,0,1,0,0,0,0
2,0.0,13950,24,9,2002,41711,Diesel,90,1,Blue,...,0,1,0,0,0,1,0,0,0,0
3,0.0,14950,26,7,2002,48000,Diesel,90,0,Black,...,0,1,0,0,0,1,0,0,0,0
4,0.0,13750,30,3,2002,38500,Diesel,90,0,Black,...,1,1,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,0.0,7500,69,12,1998,20544,Petrol,86,1,Blue,...,1,1,0,1,1,1,0,0,0,0
1432,0.0,10845,72,9,1998,19000,Petrol,86,0,Grey,...,0,1,0,0,1,1,0,0,0,0
1433,0.0,8500,71,10,1998,17016,Petrol,86,0,Blue,...,0,1,0,0,0,1,0,0,0,0
1434,0.0,7250,70,11,1998,16916,Petrol,86,1,Grey,...,0,0,0,0,0,1,0,0,0,0
1435,0.0,6950,76,5,1998,1,Petrol,110,0,Green,...,0,1,0,0,0,0,0,0,0,0

In [28]:
fuel_encode = ohe.fit_transform(read_data[["Fuel_Type"]]).toarray()

In [29]:
fuel_encode

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       ...,
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

In [30]:
read_data["Fuel_Type"] = fuel_encode

In [31]:
read_data

,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,Color,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
0,0.0,13500,23,10,2002,46986,0.0,90,1,Blue,...,1,1,0,0,0,1,0,0,0,0
1,0.0,13750,23,10,2002,72937,0.0,90,1,Silver,...,0,1,0,0,0,1,0,0,0,0
2,0.0,13950,24,9,2002,41711,0.0,90,1,Blue,...,0,1,0,0,0,1,0,0,0,0
3,0.0,14950,26,7,2002,48000,0.0,90,0,Black,...,0,1,0,0,0,1,0,0,0,0
4,0.0,13750,30,3,2002,38500,0.0,90,0,Black,...,1,1,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,0.0,7500,69,12,1998,20544,0.0,86,1,Blue,...,1,1,0,1,1,1,0,0,0,0
1432,0.0,10845,72,9,1998,19000,0.0,86,0,Grey,...,0,1,0,0,1,1,0,0,0,0
1433,0.0,8500,71,10,1998,17016,0.0,86,0,Blue,...,0,1,0,0,0,1,0,0,0,0
1434,0.0,7250,70,11,1998,16916,0.0,86,1,Grey,...,0,0,0,0,0,1,0,0,0,0
1435,0.0,6950,76,5,1998,1,0.0,110,0,Green,...,0,1,0,0,0,0,0,0,0,0

In [35]:
features = read_data.drop(["Color","Price"],axis=1)
target = read_data["Price"]

In [62]:
x_train,x_test,y_train,y_test = train_test_split(features,target,random_state=100,test_size=0.2)

In [63]:
x_train.shape

(1148, 36)

In [64]:
x_test.shape

(288, 36)

In [65]:
regression = LinearRegression()

In [66]:
regression.fit(x_train,y_train)

LinearRegression()

In [67]:
prediction = regression.predict(x_test)

In [68]:
r2_score(y_test,prediction)

0.9036445077108302

In [78]:
predictdf = pd.DataFrame(prediction,columns=["Prediction"])

In [79]:
predictdf

       Prediction
0    15079.525814
1    10025.775529
2    12162.666581
3     9105.980879
4     8781.445661
..            ...
283  10207.423924
284  15371.777235
285   9337.032076
286   8538.863239
287  17263.291264

[288 rows x 1 columns]

In [80]:
test_df = pd.DataFrame(y_test,columns=["Test"])

In [81]:
test_df

Empty DataFrame
Columns: [Test]
Index: []

In [82]:
print(y_test)

57      15250
1002     8250
360     12950
903      9750
1277     8800
        ...
198      9950
67      14950
517     10000
916      7950
108     17950
Name: Price, Length: 288, dtype: int64

In [83]:
#adding the color feature to the model
Colorencode = ohe.fit_transform(read_data[["Color"]]).toarray()

In [84]:
read_data["Color"] = Colorencode

In [85]:
read_data

,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,Color,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
0,0.0,13500,23,10,2002,46986,0.0,90,1,0.0,...,1,1,0,0,0,1,0,0,0,0
1,0.0,13750,23,10,2002,72937,0.0,90,1,0.0,...,0,1,0,0,0,1,0,0,0,0
2,0.0,13950,24,9,2002,41711,0.0,90,1,0.0,...,0,1,0,0,0,1,0,0,0,0
3,0.0,14950,26,7,2002,48000,0.0,90,0,0.0,...,0,1,0,0,0,1,0,0,0,0
4,0.0,13750,30,3,2002,38500,0.0,90,0,0.0,...,1,1,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,0.0,7500,69,12,1998,20544,0.0,86,1,0.0,...,1,1,0,1,1,1,0,0,0,0
1432,0.0,10845,72,9,1998,19000,0.0,86,0,0.0,...,0,1,0,0,1,1,0,0,0,0
1433,0.0,8500,71,10,1998,17016,0.0,86,0,0.0,...,0,1,0,0,0,1,0,0,0,0
1434,0.0,7250,70,11,1998,16916,0.0,86,1,0.0,...,0,0,0,0,0,1,0,0,0,0
1435,0.0,6950,76,5,1998,1,0.0,110,0,0.0,...,0,1,0,0,0,0,0,0,0,0

In [96]:
features = read_data.drop("Price",axis=1)

In [97]:
target = read_data["Price"]

In [98]:
x_train,x_test,y_train,y_test = train_test_split(features,target,random_state=0,test_size=0.3)

In [99]:
regression.fit(x_train,y_train)

LinearRegression()

In [100]:
prediction = regression.predict(x_test)

In [101]:
r2_score(y_test,prediction)

0.7380947256551922